<div class="container">
    <h2>Restaurants</h2>
 <div class="row">
    <div ng-controller="filterCtrl as vm">
        <form action="" class="borough" ng-submit="vm.filterBorough(vm.filterBoroughApi)" >
            <p>Filter by borough API</p>
            <input type="text" ng-model="vm.filterBoroughApi">
        </form>
        <form action="" class="cuisine" ng-submit="vm.filterCuisine(vm.filterCuisineApi)" >
            <p>Filter by cuisine API</p>
            <input type="text" ng-model="vm.filterCuisineApi">
        </form>
        <br>
    </div>
 </div>
<div class="row">
    <div ng-controller="restaurantsCtrl as vm">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Borough</th>
              <th>Cuisine</th>
            </tr>
          </thead>
          <tbody>
            <tr dir-paginate="restaurant in vm.restaurants | itemsPerPage: 10 | filter: searchText">
              <td><a ng-href="#!/restaurant/{{restaurant._id}}">{{restaurant.name}}</a></td>
              <td>{{restaurant.borough}}</td>
              <td>{{restaurant.cuisine}}</td>
          </tbody>
        </table>
        <div class="pagination">
            <dir-pagination-controls [max-size="10" ] [direction-links="true " ] [boundary-links="true " ]>
            </dir-pagination-controls>
          </div>
     </div>
</div>